@model halloween.Model.greetings


                                 
                    <div class="form-group">
                        <label asp-for="bridgegreetings.sendTo"></label>
                        <div>
                            <label asp-for="bridgegreetings.toName" class="sr-only"></label>
                            @Model.toName
			            </div>

                    </div>
		
                    <div class="form-group">
                        <label asp-for="bridgegreetings.toEmail" class="sr-only">Email</label>
				        @Model.bridgegreetings.toEmail
                    </div>

                    <div class="form-group">
                        <label asp-for="bridgegreetings.sentFrom"></label>
			            <div>
                        @Model.bridgegreetings.fromName
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="bridgegreetings.fromEmail" class="sr-only">Email</label>
				        @Model.bridgegreetings.fromEmail
                    </div>

                    <div class="form-group">
				    <div class="has-error">@Model.Message</div>
			

			


