@model halloween.Model.greetings
<!--  @Model = MODEL plus the database  --> 

<input type="hidden" asp-for="@Model.ID" />

                    <div class="form-group 444">
                        <label asp-for="@Model.sendTo"></label>
                
                        <label asp-for="@Model.toName" class="sr-only"></label>
                        <input type="text" asp-for="@Model.toName" class="form-control input-clear" maxlength="30">
                        <span asp-validation-for="@Model.toName" class="text-danger"></span> 
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.toEmail" class="sr-only">Email</label>
                        <input type="email" asp-for="@Model.toEmail" class="form-control input-clear" placeholder="Email" maxlength="100">
                        <span asp-validation-for="@Model.toEmail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.title" class="control-label"></label>
                        <input type="text" asp-for="@Model.title" class="form-control input-clear" maxlength="60">
                        <span asp-validation-for="@Model.title" class="text-danger"></span>
                        <span class="countdown"></span>
                    </div>

                    <div class="form-group">     
                        <textarea asp-for="@Model.message" class="form-control input-clear" maxlength="150"></textarea>
                        <span asp-validation-for="@Model.message" class="text-danger"></span>
                        <span class="countdown"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.sentFrom"></label>
                        <input type="text" asp-for="@Model.fromName" class="form-control input-clear" maxlength="30">
                        <span asp-validation-for="@Model.fromName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.fromEmail" class="sr-only">Email</label>
                        <input type="email" asp-for="@Model.fromEmail" class="form-control input-clear" placeholder="Email" maxlength="100">
                        <span asp-validation-for="@Model.fromEmail" class="text-danger"></span>
                    </div>


			        <div class="form-group">
                        <div class="checkbox">
                            <label>
    						    <input type="checkbox" asp-for="@Model.agree" value="">I agree to the terms and conditions.
    					    </label>
    					    <span asp-validation-for="@Model.agree" class="text-danger"></span>
                        </div>
				    </div>

                    <div class="form-group">
				        <div class="g-recaptcha" data-sitekey="6LeXTDYUAAAAALqbMEDvxpjeDhsY3X_LqfygY5Ug"></div>
				        <span asp-validation-for="@Model.reCaptcha" class="text-danger"></span>
				    </div>



