@model halloween.Model.greetings



    <div class="form-group">
    <label asp-for="@Model.sendTo"></label>
        @Html.Raw(Model.toName)
    </div>
            
    <div class="form-group">
        <label asp-for="@Model.toEmail">To Email:</label>
        @Html.Raw(Model.toEmail)
    </div>

    <div class="form-group">
    <label asp-for="@Model.sentFrom"></label>
        @Html.Raw(@Model.fromName)
    </div>

    <div class="form-group">
        <label asp-for="@Model.fromEmail">From Email:</label>
        @Html.Raw(@Model.fromEmail)
    </div>






			

			


